<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="SALaunchConfigurationDelegate"
            id="ServiceAnnotator.SA_lct"
            modes="run,debug"
            name="Annotate ASD Models"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="SALaunchConfigurationTabGroup"
            id="ServiceAnnotator.SA_lctg"
            type="ServiceAnnotator.SA_lct">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="SALaunchShortcut"
            id="ServiceAnnotator.SA_ls"
            label="Annotate ASD Models"
            modes="run,debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="2">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           property="org.eclipse.debug.ui.matchesPattern"
                           value="*.xmi">
                     </test>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <configurationType
               id="ServiceAnnotator.SA_lct">
         </configurationType>
      </shortcut>
      <shortcut
            class="SALaunchShortcut"
            id="ServiceAnnotator.SA_ls_Edit"
            label="Annotate ASD Models"
            modes="run,debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="2">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           property="org.eclipse.debug.ui.matchesPattern"
                           value="*.asd">
                     </test>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <configurationType
               id="ServiceAnnotator.SA_lct">
         </configurationType>
      </shortcut>
      <shortcut
            class="SALaunchShortcut"
            id="ServiceAnnotator.SA_Ecore"
            label="Annotate ASD Models"
            modes="run,debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="2">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           property="org.eclipse.debug.ui.matchesPattern"
                           value="*.ecore">
                     </test>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <configurationType
               id="ServiceAnnotator.SA_lct">
         </configurationType>
      </shortcut>
   </extension>

</plugin>
