<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2m.atl.adt.launching.atlTransformation">
<stringAttribute key="ATL File Name" value="/VLDB/Transformations/ServiceAnnotation.atl"/>
<stringAttribute key="ATL VM" value="EMF-specific VM"/>
<stringAttribute key="ATL_COMPILER" value="atl2006"/>
<booleanAttribute key="IS_REFINING" value="true"/>
<mapAttribute key="Input">
<mapEntry key="Source" value="ASD"/>
<mapEntry key="Target" value="ASD"/>
</mapAttribute>
<mapAttribute key="Libs"/>
<mapAttribute key="Model Handler">
<mapEntry key="ASD" value="EMF"/>
</mapAttribute>
<mapAttribute key="ModelType">
<mapEntry key="ASD" value="METAMODELOUTPUT"/>
<mapEntry key="AnnotatedASD" value="MODELOUTPUT"/>
<mapEntry key="Source" value="MODELINPUT"/>
<mapEntry key="Target" value="MODELINPUT"/>
</mapAttribute>
<mapAttribute key="Options">
<mapEntry key="OPTION_CLEAR" value="false"/>
<mapEntry key="OPTION_CONTENT_TYPE" value="false"/>
<mapEntry key="OPTION_DERIVED" value="true"/>
<mapEntry key="allowInterModelReferences" value="false"/>
<mapEntry key="printExecutionTime" value="false"/>
<mapEntry key="step" value="false"/>
<mapEntry key="supportUML2Stereotypes" value="false"/>
</mapAttribute>
<listAttribute key="OrderedInput">
<listEntry value="Source"/>
<listEntry value="Target"/>
</listAttribute>
<listAttribute key="OrderedOutput">
<listEntry value="AnnotatedASD"/>
</listAttribute>
<mapAttribute key="Output">
<mapEntry key="AnnotatedASD" value="ASD"/>
</mapAttribute>
<mapAttribute key="Path">
<mapEntry key="ASD" value="/VLDB/Metamodel/ASD.ecore"/>
<mapEntry key="AnnotatedASD" value="/VLDB/Models/Annotated/POClientAnnotated.xmi"/>
<mapEntry key="Source" value="/VLDB/Models/Original/POClient-wsdlv1-asd.xmi"/>
<mapEntry key="Target" value="/VLDB/Models/Original/POClientEvolution-wsdlv1-asd.xmi"/>
</mapAttribute>
<listAttribute key="Superimpose"/>
</launchConfiguration>
