<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="WSDL1_1.presentation.WSDL1_1ModelWizardID"
            name="%_UI_WSDL1_1ModelWizard_label"
            class="WSDL1_1.presentation.WSDL1_1ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/WSDL1_1ModelFile.gif">
         <description>%_UI_WSDL1_1ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="WSDL1_1.presentation.WSDL1_1EditorID"
            name="%_UI_WSDL1_1Editor_label"
            icon="icons/full/obj16/WSDL1_1ModelFile.gif"
            extensions="wsdlv1"
            class="WSDL1_1.presentation.WSDL1_1Editor"
            contributorClass="WSDL1_1.presentation.WSDL1_1ActionBarContributor">
      </editor>
   </extension>

</plugin>
