<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="XML2WSDLLaunchConfigurationDelegate"
            id="WSDLv1_1.XML2WSDLv1_1_lct"
            modes="run, debug"
            name="XML-&gt;WSDL1.1"
            public="true">
      </launchConfigurationType>
      <launchConfigurationType
            delegate="WSDL2XMLLaunchConfigurationDelegate"
            id="WSDLv1_1.WSDL2XMLv1_1_lct"
            modes="run,debug"
            name="WSDL1.1-&gt;XML"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="XML2WSDLLaunchConfigurationTabGroup"
            id="WSDLv1_1.XML2WSDLv1_1_lctg"
            type="WSDLv1_1.XML2WSDLv1_1_lct">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="WSDL2XMLLaunchConfigurationTabGroup"
            id="WSDLv1_1.WSDL2XMLv1_1_lctg"
            type="WSDLv1_1.WSDL2XMLv1_1_lct">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="XML2WSDLLaunchShortcut"
            id="WSDLv1_1.XML2WSDLv1_1_ls"
            label="XML-&gt;WSDL1.1"
            modes="run, debug">
         <configurationType
               id="WSDLv1_1.XML2WSDLv1_1_lct">
         </configurationType>
         <contextualLaunch>
            <contextLabel
                  label="XML-&gt;WSDL1.1"
                  mode="run">
            </contextLabel>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           property="org.eclipse.debug.ui.matchesPattern"
                           value="*.xmi">
                     </test>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="WSDL2XMLLaunchShortcut"
            id="WSDLv1_1.WSDL2XMLv1_1_ls"
            label="WSDL1.1-&gt;XML"
            modes="run, debug">
         <configurationType
               id="WSDLv1_1.WSDL2XMLv1_1_lct">
         </configurationType>
         <contextualLaunch>
            <contextLabel
                  label="WSDL1.1-&gt;XML"
                  mode="run">
            </contextLabel>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           property="org.eclipse.debug.ui.matchesPattern"
                           value="*.xmi">
                     </test>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="WSDL2XMLLaunchShortcut"
            id="WSDLv1_1.WSDL2XMLv1_1_ls_ecore"
            label="WSDL1.1-&gt;XML Ecore"
            modes="run, debug">
         <configurationType
               id="WSDLv1_1.WSDL2XMLv1_1_lct">
         </configurationType>
         <contextualLaunch>
            <contextLabel
                  label="WSDL1.1-&gt;XML"
                  mode="run">
            </contextLabel>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           property="org.eclipse.debug.ui.matchesPattern"
                           value="*.ecore">
                     </test>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="WSDL2XMLLaunchShortcut"
            id="WSDLv1_1.WSDL2XMLv1_1_ls_edit"
            label="WSDL1.1-&gt;XML Extension Editor"
            modes="run, debug">
         <configurationType
               id="WSDLv1_1.WSDL2XMLv1_1_lct">
         </configurationType>
         <contextualLaunch>
            <contextLabel
                  label="WSDL1.1-&gt;XML"
                  mode="run">
            </contextLabel>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           property="org.eclipse.debug.ui.matchesPattern"
                           value="*.wsdlv1">
                     </test>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="XML2WSDLLaunchShortcut"
            id="WSDLv1_1.XML2WSDLv1_1_ecore"
            label="XML-&gt;WSDL1.1 Ecore"
            modes="run, debug">
         <configurationType
               id="WSDLv1_1.XML2WSDLv1_1_lct">
         </configurationType>
         <contextualLaunch>
            <contextLabel
                  label="XML-&gt;WSDL1.1"
                  mode="run">
            </contextLabel>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           property="org.eclipse.debug.ui.matchesPattern"
                           value="*.ecore">
                     </test>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="XML2WSDLLaunchShortcut"
            id="WSDLv1_1.XML2WSDLv1_1_edit"
            label="XML-&gt;WSDL1.1 Extension Editor"
            modes="run, debug">
         <configurationType
               id="WSDLv1_1.XML2WSDLv1_1_lct">
         </configurationType>
         <contextualLaunch>
            <contextLabel
                  label="XML-&gt;WSDL1.1"
                  mode="run">
            </contextLabel>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           property="org.eclipse.debug.ui.matchesPattern"
                           value="*.xmlmodel">
                     </test>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>

</plugin>
