<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://WSDLv1"
            class="WSDL1_1.WSDL1_1Package"
            genModel="model/wsdl1_1.genmodel"/>
   </extension>

</plugin>
