<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="ConservativeASDLaunchConfigurationDelegate"
            id="ConservativeContract.ConservativeASD_lct"
            modes="run,debug"
            name="Generate Conservative Contract"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="ConservativeASDLaunchConfigurationTabGroup"
            id="ConservativeContract.ConservativeASD_lctg"
            type="ConservativeContract.ConservativeASD_lct">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="ConservativeASDLaunchShortcut"
            id="ConservativeContract.ConservativeASD_ls"
            label="Generate Conservative Contract"
            modes="run,debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           property="org.eclipse.debug.ui.matchesPattern"
                           value="*.xmi">
                     </test>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <configurationType
               id="ConservativeContract.ConservativeASD_lct">
         </configurationType>
      </shortcut>
      <shortcut
            class="ConservativeASDLaunchShortcut"
            id="ConservativeContract.ConservativeASD_ls_edit"
            label="Generate Conservative Contract"
            modes="run,debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           property="org.eclipse.debug.ui.matchesPattern"
                           value="*.asd">
                     </test>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <configurationType
               id="ConservativeContract.ConservativeASD_lct">
         </configurationType>
      </shortcut>
      <shortcut
            class="ConservativeASDLaunchShortcut"
            id="ConservativeContract.ConservativeASD_ls_ecore"
            label="Generate Conservative Contract"
            modes="run,debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           property="org.eclipse.debug.ui.matchesPattern"
                           value="*.ecore">
                     </test>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <configurationType
               id="ConservativeContract.ConservativeASD_lct">
         </configurationType>
      </shortcut>
   </extension>

</plugin>
