<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="SMLaunchConfigurationDelegate"
            id="SerMatch.SM_lct"
            modes="run,debug"
            name="Compare ASD Models"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="SMLaunchConfigurationTabGroup"
            id="SerMatch.SM_lctg"
            type="SerMatch.SM_lct">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="SMLaunchShortcut"
            id="SerMatch.SM_ls"
            label="Compare ASD models "
            modes="run,debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           property="org.eclipse.debug.ui.matchesPattern"
                           value="*.xmi">
                     </test>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <configurationType
               id="SerMatch.SM_lct">
         </configurationType>
      </shortcut>
      <shortcut
            class="SMLaunchShortcut"
            id="SerMatch.SM_ls_Edit"
            label="Compare ASD models "
            modes="run,debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           property="org.eclipse.debug.ui.matchesPattern"
                           value="*.asd">
                     </test>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <configurationType
               id="SerMatch.SM_lct">
         </configurationType>
      </shortcut>
      <shortcut
            class="SMLaunchShortcut"
            id="SerMatch.SM_Ecore"
            label="Compare ASD models "
            modes="run,debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           property="org.eclipse.debug.ui.matchesPattern"
                           value="*.ecore">
                     </test>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <configurationType
               id="SerMatch.SM_lct">
         </configurationType>
      </shortcut>
   </extension>

</plugin>
