<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="LiberantASDLaunchConfigurationDelegate"
            id="LiberantContract.LiberantASD_lct"
            modes="run,debug"
            name="Generate Liberant Contract"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="LiberantASDLaunchConfigurationTabGroup"
            id="LiberantContract.LiberantASD_lctg"
            type="LiberantContract.LiberantASD_lct">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="LiberantASDLaunchShortcut"
            id="LiberantContract.LiberantASD_ls"
            label="Generate Liberant Contract"
            modes="run,debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           property="org.eclipse.debug.ui.matchesPattern"
                           value="*.xmi">
                     </test>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <configurationType
               id="LiberantContract.LiberantASD_lct">
         </configurationType>
      </shortcut>
      <shortcut
            class="LiberantASDLaunchShortcut"
            id="LiberantContract.LiberantASD_ls_edit"
            label="Generate Liberant Contract "
            modes="run,debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           property="org.eclipse.debug.ui.matchesPattern"
                           value="*.asd">
                     </test>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <configurationType
               id="LiberantContract.LiberantASD_lct">
         </configurationType>
      </shortcut>
      <shortcut
            class="LiberantASDLaunchShortcut"
            id="LiberantContract.LiberantASD_ls_ecore"
            label="Generate Liberant Contract "
            modes="run,debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           property="org.eclipse.debug.ui.matchesPattern"
                           value="*.ecore">
                     </test>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <configurationType
               id="LiberantContract.LiberantASD_lct">
         </configurationType>
      </shortcut>
   </extension>

</plugin>
