<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="Inject XML file to XML model"
            nameFilter="*.xml"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="xmltransformation.InjectXML"
               enablesFor="1"
               id="Inject XML file to XML model"
               label="Inject XML file to XML model">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="Extract XML model to XML file"
            nameFilter="*.xmi"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="xmltransformation.ExtractXML"
               enablesFor="1"
               id="Extract XML model to XML file"
               label="Extract XML model to XML file">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="Extract XML model to XML file Extension Editor"
            nameFilter="*.xmlmodel"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="xmltransformation.ExtractXML"
               enablesFor="1"
               id="Extract XML model to XML file Extension Editor"
               label="Extract XML model to XML file">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="Extract XML model to XML file Ecore"
            nameFilter="*.ecore"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="xmltransformation.ExtractXML"
               enablesFor="1"
               id="Extract XML model to XML file Ecore"
               label="Extract XML model to XML file">
         </action>
      </objectContribution>
   </extension>

</plugin>
