<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="WSDL2ASDLaunchConfigurationDelegate"
            id="ASDv2.WSDL2ASDv2_lct"
            modes="run,debug"
            name="WSDL2.0 -&gt;ASDASD"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="WSDL2ASDLaunchConfigurationTabGroup"
            id="ASDv2.WSDL2ASDv2_lctg"
            type="ASDv2.WSDL2ASDv2_lct">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="WSDL2ASDLaunchShortcut"
            id="ASDv2.WSDL2ASDv2_ls"
            label="WSDL2.0-&gt;ASD"
            modes="run, debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           property="org.eclipse.debug.ui.matchesPattern"
                           value="*.xmi">
                     </test>
                  </iterate>
               </with></enablement>
            <contextLabel
                  label="WSDL2.0-&gt;ASD"
                  mode="run">
            </contextLabel></contextualLaunch>
         <configurationType
               id="ASDv2.WSDL2ASDv2_lct">
         </configurationType>
      </shortcut>
      <shortcut
            class="WSDL2ASDLaunchShortcut"
            id="ASDv2.WSDL2ASDv2_ls_edit"
            label="WSDL2.0-&gt;ASD Extension Editor"
            modes="run, debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           property="org.eclipse.debug.ui.matchesPattern"
                           value="*.wsdlv2">
                     </test>
                  </iterate>
               </with>
            </enablement>
            <contextLabel
                  label="WSDL2.0-&gt;ASD"
                  mode="run">
            </contextLabel>
         </contextualLaunch>
         <configurationType
               id="ASDv2.WSDL2ASDv2_lct">
         </configurationType>
      </shortcut>
      <shortcut
            class="WSDL2ASDLaunchShortcut"
            id="ASDv2.WSDL2ASDv2_ls_ecore"
            label="WSDL2.0-&gt;ASD Ecore"
            modes="run, debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           property="org.eclipse.debug.ui.matchesPattern"
                           value="*.ecore">
                     </test>
                  </iterate>
               </with>
            </enablement>
            <contextLabel
                  label="WSDL2.0-&gt;ASD"
                  mode="run">
            </contextLabel>
         </contextualLaunch>
         <configurationType
               id="ASDv2.WSDL2ASDv2_lct">
         </configurationType>
      </shortcut>
   </extension>

</plugin>
